/.idea/
#ibee项目
/ibee-global/target/
/ibee-jackson/target/
/ibee-httpclient/target/
/ibee-common/target/
/ibee-swagger/target/

#ibee演示项目
/ibee-demo/ibee-demo-springdoc/target/
/ibee-demo/ibee-demo-json/target/
/ibee-demo/ibee-demo-httpcomponents/target/
/ibee-demo/ibee-demo-config/target/
/ibee-demo/ibee-demo-dbcp/target/
/ibee-demo/ibee-demo-web/target/
/ibee-demo/ibee-demo-swagger3/target/
/ibee-demo/ibee-demo-jedis/target/

#ibee技术项目
/ibee-tech/ibee-tech-springdoc/target/
/ibee-tech/ibee-tech-httpclient4/target/
/ibee-tech/ibee-tech-redis/target/

#ibee开箱即用组件
